{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}

<footer class="footer-ppi footer-dark">
  <div class="container">
    <div class="columns is-centered">
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              {{ .title }}
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link | relLangURL }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            {{ i18n "followUs" }}
          </div>
          <div>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link | relLangURL }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="content has-text-centered footer-content">
      <p>
      made with <span class="icon"><i class="fa fa-heart"></i></span> in seattle, honolulu, and toronto | © 2019
      </p>
    </div>
  </div>
</footer>
