{{"<!-- Mission section -->" | safeHTML}}
<section class="section">
    <div class="container">
      <div class="content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-three-fifths" data-animation="fadeInLeft">
            <div class="content">
              {{ with .Site.Params.about.description }}
              {{ . | markdownify }}
              {{ end }}
            </div>
          </div>
          <div class="column is-two-fifths" data-animation="fadeInLeft">
            <div class="mission-slider">
              {{ range .Site.Params.about.aboutImages }}
                <img src="{{ printf "/images/%s" .image | relURL }}" alt="slider-image">
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
